@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

/*************************GENERAL STYLES START*****************************/
body,
header,
main {
  width: 100%;
  font-family: "Tahoma", "Times New Roman", Times, serif;
}
.container {
  background: #fff;
  max-width: 1121px;
  margin: auto;
  color: #8c8c8c;
}
.flex-row {
  display: flex;
}
.container__a {
  outline: none;
  text-decoration: none;
  color: black;
}
.container__ul {
  list-style-type: none;
}
.container__h3,
.container__p {
  margin: 0;
}
.container__h3 {
  font-weight: bold;
  color: #000;
}
.container__p {
  font-size: 14pt;
  font-family: "Times New Roman", Times, serif;
}
/**********************HEADER STYLES START***********************************/
.header {
  height: 106px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 121px;
  height: 53px;
}
.menu__li {
  margin-right: 40px;
  font-weight: bold;
  font-size: 16pt;
}
.menu__li:last-child {
  margin-right: 0;
}
/************************MAIN PART STYLES START*********************************/
.main {
  margin-bottom: 195px;
}
.additional-info {
  background: #f0f0f0;
  padding: 0 38px;
  height: 357px;
  max-width: 1121px;
  align-items: center;
}
.description,
.main-img {
  flex-basis: calc(50% - 15px);
}
.main-img {
  margin-right: 30px;
  height: 306px;
  background-color: #7c7c7c;
}
.main-img__img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.main-img__img:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
}
.description {
  height: 306px;
}
.description .container__h3 {
  font-size: 21pt;
  margin-bottom: 17px;
}
.button {
  background: #da4137;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
  color: #fefefe;
  font-size: 13pt;
  margin-top: 18px;
  display: inline-block;
  transition: 0.2s;
}
.button:hover {
  background-image: linear-gradient(
    to bottom,
    #d84037,
    #da4137,
    #ce3d34,
    #c73b32,
    #b8372e
  );
  transition: 0.2s;
}
.button:active {
  background: #6c201b;
}
/*************MAIN-INFO SECTION STYLES START***************/
.main-info {
  margin-top: 35px;
}
.main-italic {
  margin-bottom: 40px;
  color: #000;
  font-style: italic;
  font-size: 14pt;
}
.main-article__ul {
  margin-top: 55px;
  padding-left: 0px;
  width: 1121px;
}
.main-article__li {
  margin-right: 102px;
  display: flex;
  align-items: center;
}
.main-article__li:first-child {
  margin-right: 86px;
  margin-left: 11px;
}
.main-article__li:last-child {
  margin-right: 42px;
}
.main__i {
  font-size: 45px;
  margin-right: 15px;
  color: #999999;
  transition: 0.2s;
}
.main__i:hover {
  color: #0b80e0;
  transition: 0.2s;
}
.main-article {
  margin-top: 25px;
}
/**********************************MOBILE STYLES*********************************/
@media (max-width: 800px) {
  .container,
  .header,
  .additional-info,
  .main-article__ul {
    display: flex;
    flex-direction: column;
  }
  .container {
    margin: 10px;
  }
  .container__h3 {
    font-size: 12pt;
    font-weight: bold;
    color: #000;
  }
  .container__p {
    font-size: 10pt;
    font-family: "Times New Roman", Times, serif;
  }
  .main {
    margin-bottom: 0px;
  }
  .menu {
    padding-left: 0;
  }
  .menu__li {
    margin-right: 10px;
    font-weight: bold;
    font-size: 10pt;
  }
  .additional-info {
    padding: 0 15px 15px;
    height: 50%;
    align-items: center;
  }
  .main-img {
    width: 100%;
    height: 50%;
    margin: 15px 0;
  }
  .main-article__ul {
    margin-top: 15px;
    padding-left: 0px;
  }
  .main-article__li {
    margin: 10px;
  }
  .main__i {
    font-size: 35px;
    margin-right: 10px;
  }
}
